In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import joblib

In [3]:
music_data = pd.read_excel("musicpreference.xlsx")

In [4]:
music_data.head(50)

    Unnamed: 0  age  gender      genre
0            0   20       1     Hiphop
1            1   23       1     Hiphop
2            2   25       1     Hiphop
3            3   26       1       jazz
4            4   29       1       jazz
5            5   30       1       jazz
6            6   31       1  classical
7            7   33       1  classical
8            8   37       1  classical
9            9   20       0      dance
10          10   25       1     Hiphop
11          11   26       1       jazz
12          12   29       1       jazz
13          13   30       1       jazz
14          14   31       1  classical
15          15   33       1  classical
16          16   37       1  classical
17          17   20       0      dance
18          18   21       0      dance
19          19   25       0      dance
20          20   26       0   acoustic
21          21   27       0   acoustic
22          22   30       0   acoustic
23          23   31       0  classical
24          24   34       0  classical
25          25   35       0  classical

In [5]:
X = music_data.drop(columns=['genre'])
X.head()

   Unnamed: 0  age  gender
0           0   20       1
1           1   23       1
2           2   25       1
3           3   26       1
4           4   29       1

In [6]:
y = music_data['genre']
y.head()

0    Hiphop
1    Hiphop
2    Hiphop
3      jazz
4      jazz
Name: genre, dtype: object

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [8]:
model = DecisionTreeClassifier()
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [9]:
predictions = model.predict(X_test
predictions

array(['classical', 'jazz', 'acoustic', 'acoustic', 'jazz', 'classical'],
      dtype=object)

In [10]:
score = accuracy_score(y_test, predictions)
score

1.0

In [11]:
score

1.0